* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.motto {
    display: flex;
    font-family: Georgia;
    font-size: 20px;
    font-style: italic;
    color: #333333;
    margin: auto;
}

.image-logo {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: auto;
}

.brand-name {
    color: #333333;
}

.row {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.half {
    text-align: center;
    width: 50%;
    padding-top: 130px;
}

.first {
    background-color: #f2c42e;
}

.header {
    display: flex;
    padding: 0;
    margin: auto;
    justify-content: center;
}

.full {
    text-align: center;
    padding: 130px;
}

.text {
    color: #333333;
}

.credit-card {
    padding: 30px;
}

.credit-card-input {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #333333;
}

.button {
    margin: 30px;
    height: 37px;
    width: 196px;
    border: 2px solid #333333;
    border-radius: 4px;
    color: #ffffff;
    background-color: #333333;
}

.validation-image {
    height: 200px;
    width: 200px;
}