* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', Sans-Serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* home page */

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
}

header {
    display: flex;
    flex-flow: row wrap;
    padding: 10% 5%;
    justify-content: center;
}

.motto {
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 1.25em;
    font-style: italic;
    margin-left: 2.55%;
    margin-top: 3%;
}

img {
    width: 100%;
	max-width: 60px; 
}

.image-logo {
    border-radius: 6px;
}

[class*="c1"] {
    background-color: #f2c42e;
}

.text {
    font-size: 1.25em;
}

.credit-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.credit-card-input {
    border-radius: 4px;
    border: 2px solid #333333;
    padding: 2.5% 5%;
}

.button {
    border: solid #333333;
    border-radius: 4px;
    padding: 2.5% 19%;
    background-color: #333333;
    color: #ffffff;
    font-weight: normal;
}

/* validation pages */

.validation-page {
    background-color: #ffffff;
    padding: 139px;
    padding-bottom: 19px;
    text-align: center;
}

.validation-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.validation-text {
    margin-top: 60px;
    margin-bottom: 30px;
}

.hide {
    display: none;
}

/* grid system - mobile first */

/* desktop */

@media only screen and (min-width: 1000px) {

    header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .r2c1 {
        display: flex; 
        justify-content: center;
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .r1c2 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}